._59g{box-sizing:border-box}
.sp_TmHohBbwl11{background-image:url(/rsrc.php/v3/y_/r/CGef2TL_0EL.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_TmHohBbwl11.sx_e8df8a{width:16px;height:16px;background-position:0 -33px}.sp_TmHohBbwl11.sx_c76dec{background-position:0 0}

#bootloader_Z1bZC{height:42px;}.bootloader_Z1bZC{display:block!important;}